<div id="navigation">
    <div id="desktopnavigation">
      <div id="desktopnavigationlinkcontainer">
        <a href="{{@site.url}}/about" alt="MONTAG" class="desktopnavigationlink">MONTAG</a>
        <a href="https://www.grover.com/" alt="Grover" class="desktopnavigationlink">Grover</a>
        <a href="{{@site.url}}/the-montag-newsletter/" alt="Newsletter" class="desktopnavigationlink">Newsletter</a>
        <a href="{{@site.url}}/the-montage-podcast/" alt="Podcast" class="desktopnavigationlink">Podcast</a>
        <a id="issuesmenulink" href="#" alt="Issues" class="desktopnavigationlink">Issues</a>
      </div>
      <div id="issuesmenu" class="hidden">
        <div id="issuesmenulinkcontainer">
          <a href="{{@site.url}}/issue1" alt="Issue 1" class="issueslink">Issue 1: TOGETHER TOMORROW</a>
          <a href="{{@site.url}}/issue2" alt="Issue 2" class="issueslink">Issue 2: BETTER BODIES</a>
          <a href="{{@site.url}}/issue3" alt="Issue 3" class="issueslink">Issue 3: CODING CREATIVITY</a>
          <a href="{{@site.url}}/issue4" alt="Issue 4" class="issueslink">Issue 4: MODERN MONEY</a>
          <a href="{{@site.url}}/issue5" alt="Issue 5" class="issueslink">Issue 5: WORK AND PLAY</a>
          <a href="{{@site.url}}/issue6" alt="Issue 6" class="issueslink">Issue 6: HACKING HAPPINESS</a>
        </div>
    </div>
  </div>
</div>
