<div id="menu-container" class="hidden">
  <div id="navmenu">
    <div id="aboutmontag">
      <div class="menulink">
        <a href="{{@site.url}}/about" alt="MONTAG">MONTAG</a>
      </div>
    </div>
    <div id="aboutgrover">
      <div class="menulink">
        <a href="https://www.grover.com/de-en/how-it-works" alt="Grover">Grover</a>
      </div>
    </div>
    <div id="printeditions">
      <div class="menulink">
        <a href="https://montag.bigcartel.com/" alt="Print Editions" style="color:#FF00FF;">Print Editions</a>
      </div>
    </div>
    <div id="newsletter">
      <div class="menulink">
        <a href="{{@site.url}}/the-montag-newsletter/" alt="Newsletter">Newsletter</a>
      </div>
    </div>
    <div id="podcast">
      <div class="menulink">
        <a href="{{@site.url}}/the-montage-podcast/" alt="Podcast">Podcast</a>
      </div>
    </div>
    <div id="issue1">
      <div class="menulink">
        <a href="{{@site.url}}/issue1" alt="Issue 1">Issue 1: Together Tomorrow</a>
      </div>
    </div>
    <div id="issue2">
      <div class="menulink">
        <a href="{{@site.url}}/issue2" alt="Issue 2">Issue 2: Better Bodies</a>
      </div>
    </div>
    <div id="issue3">
      <div class="menulink">
        <a href="{{@site.url}}/issue3" alt="Issue 3">Issue 3: Coding Creativity</a>
      </div>
    </div>
    <div id="issue4">
      <div class="menulink">
        <a href="{{@site.url}}/issue4" alt="Issue 4">Issue 4: Modern Money</a>
      </div>
    </div>
    <div id="issue5">
      <div class="menulink">
        <a href="{{@site.url}}/issue5" alt="Issue 5">Issue 5: Work And Play</a>
      </div>
    </div>
    <div id="issue6">
      <div class="menulink">
        <a href="{{@site.url}}/issue6" alt="Issue 6">Issue 6: Hacking Happiness</a>
      </div>
    </div>
  </div>
  <div id="antihamburger-container">
    <div id="antihamburger-menu">
      <a href="#">
        <img id="antihamburger" src={{asset "assets/images/blackantihamburger.png"}}>
      </a>
    </div>
  </div>
</div>
