{{!< default}}
{{> stickylogos}}
{{#author}}
  <div class="author-info">
    <div class="author-name">
      <h3>{{name}}</h3>
    </div>
    {{#if website}}
    <div class="author-website">
      <a href={{website}}>{{website}}</a>
    </div>
    {{/if}}
    <div class="author-bio">
      {{bio}}
    </div>
  </div>
{{/author}}
{{#foreach posts}}
<div class="author-post-wrapper">
  <div class="post-info-wrapper">
    <div class="post-info homepage-post-info">
      <a href={{url}}>
        <div class="author-post-title">
          {{title}}
        </div>
      </a>
    </div>
  </div>
</div>
{{/foreach}}
{{pagination}}
