<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings from zero }}
    <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{! Page Meta from zero}}
    <title>{{meta_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="{{asset "images/MONTAGissue3banner.jpg"}}" />
	  <link rel="icon" type="image/png" sizes="32x32" href="{{asset "images/favicon.png"}}">
    {{! Styles'n'Scripts }}
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Martel+Sans:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "libs/fonts/ds-digital/ds-digital.css"}}" />
    <link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{asset "css/gatnom.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/gatnommobile.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/gatnombigh.css"}}">
    {{! Ghost outputs important style and meta data with this tag }}
	  {{ghost_head}}
  </head>
  <div id="content-wrapper">
    {{{body}}}
  </div>
    {{>footer}}
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    <script type="text/javascript" src="{{ asset "assets/js/jquery-3.3.1.slim.min.js"}}"></script>
    <script type="text/javascript" src="{{ asset "assets/js/gatnom.js"}}"></script>
</html>
