{{!< default}}
{{> desktoplogobar}}
{{> modal}}
<div id="homepageposts">
  {{#foreach posts}}
  <div class="homepage-post-wrapper">
    <div class="homepage-post-info-wrapper">
      <div class="homepage-post-info">
          <a href={{url}} class="titlelink">
            <div class="homepage-post-title">
            {{title}}
            </div>
          </a>
          <div class="homepage-post-excerpt">
            {{excerpt}}
          </div>
        <a href={{url}} class="readmore">Read more</a>
      </div>
    </div>
  </div>
  {{/foreach}}
</div>
{{pagination}}
